:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0 5rem;
}
header {
  text-align: center;
  margin-bottom: 16px;
  background-color: #154066;
  padding: 16px 0;
}
footer {
  text-align: center;
  margin-top: 16px;
  background-color: #154066;
  padding: 8px 0;
}
.litle {
  margin-top: 8px;
}
.no-list {
  text-align: center;
  margin: 8px 0;
  color: #777777;
}
